# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NormalLifeProject.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\PPPGit\NormalLife\NormalLifeProject\.idea\.idea.NormalLifeProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
